@import "css/normalize.css";

body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    margin: 0px;
}

/* Navigation Header */

#header {
    font-size: 14px;
    width: 100%;
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
    padding-top: 6px;
}

#header .content {
    width: 600px;
    padding: 0px;
    margin: 0 auto;
}

#header .content a,
#header .content a:link,
#header .content a:visited {
    color: #000;
    text-decoration: none;
}

#header .content a:hover {
    color: #666;
}

#header .content a:active {
    color: #000;
}

#header .content h1 {
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin: 0px;
    padding: 0px;
}

#header .content ul {
    margin: 0px;
    padding: 0px;
    float: right;
}

#header .content ul li {
    display: block;
    float: left;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
}

#header .content ul li.current_page_item,
#header .content ul li.current_page_item a,
#header .content ul li.current_page_parent,
#header .content ul li.current_page_parent a {
    color: #000;
    padding-bottom: 0px;
    border-bottom: 2px solid #888;
}

/* Footer */

#footer {
    background-color: #fff;
    font-size: 14px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}

#footer-content {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 3px;
}

#footer p {
    text-align: center;
    margin-bottom: 0px;
}
/* Main Area */

#wrapper {
    width: 600px;
    margin: 0 auto;
    padding-top: 0px;
}

#content {
    width: 600px;
    margin: 0 auto;
}

#footer a,
#footer a:hover,
#footer a:visited,
#footer a:active {
    color: #000;
    border-bottom: 1px dotted #888;
}

#footer a:hover {
    color: #666;
}

/* Alignments */

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin: 0 20px 10px 0;
}

.alignright {
    float: right;
    margin: 0 0 10px 20px;
}

.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.clear {
    margin-right: 0;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Headings */

h1 {
    font-size: 24px;
    line-height: 1em;
    color: #000;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 5px;
    margin-left: 0; 
}

h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 2px;
}

h2.secondary {
    color: #888;
}

h2#comments {
    margin-top: 50px;
    padding-bottom: 22px;
}

.page h2 {
    margin-bottom: 22px;
}

#respond h2 {
    margin-top: 30px;
}

/* Text Style */

p {
    line-height: 2.0em;
    margin-bottom: 22px;
    text-align: justify;
}

small {
    color: #999;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: #000099;
    cursor: pointer;
}

a:hover {
    color: #666;
    cursor: pointer;
}

h2 a,
h2 a:link,
h2 a:visited,
h2 a:active {
    color: #000;
}

h2 a:hover {
    color: #666;
}

.post {
    margin-top: 50px;
}

.post:first-child {
    margin-top: 0;
}

h2 + .post {
    margin-top: 25px;
}

.postInfos {
    font-size: 12px;
    color: #AAA;
    margin: 0px;
    margin-bottom: 22px;
    padding: 0px;
    text-transform: uppercase;
}

.post img,
.page img,
.wp-caption img,
.attachment img {
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    padding: 8px;
    background: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

dl.wp-caption-dt, 
.wp-caption {
    border: 1px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 22px;
}

.wp-caption-dt {
    border: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.wp-caption-dd,
.wp-caption-text {
    line-height: 1.8em;
    position: relative;
    float: right;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    margin: 2px 0 2px;
    width: auto;
    top: -40px;
    left: -7px;
    color: #fff;
    background-color: #000;
    margin-bottom: -43px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    opacity: 0.9;
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    filter: alpha(opacity=90); 
}

.post .gallery img {
    padding: 4px;
}

.post a:hover img {
    border: 1px solid #999;
}

.post blockquote {
    margin-left: 0px;
    padding-left: 19px;
    border-left: 1px solid #ccc;
    font-style: italic;
}

.post pre {
    margin-bottom: 15px;
}

.comment ul,
#tinymce.mceContentBody ul,
#tinymce.mceContentBody ol,
.post ul, .post ol {
    margin-bottom: 22px;
    margin-left: 0px;
}

.comment ul,
#tinymce.mceContentBody ul li,
.post ul li {
    list-style: disc;
    line-height: 1.8em;
    margin-left: 0px;
}

.comment ol,
#tinymce.mceContentBody ol li,
.post ol li {
    list-style: decimal;
    line-height: 1.8em;
    margin-left: 20px;
}

.navigation {
    border-top: 1px solid #CCC;
    padding: 15px 0;
    margin: 15px 0;
}

.share {
    text-align: right;
    padding: 0px 0;
    float: right;
    margin-left: 7px; 
}

.flattr {
    text-align: left;
    float: right;
    padding: 0px 0;
    margin: 15px 0;
    opacity: 0.5;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    filter: alpha(opacity=50); 
}

.archives {
    padding-top: 40px;
}

.post ul.month_archive, 
.navigation ul.month_archive {
    margin-bottom: 30px;
    margin-left: 0px;
}

.navigation h2 {
    margin-bottom: 22px;
}

.post ul.month_archive li,
.navigation ul.month_archive li {
    list-style: none;
    margin-left: 20px;
    line-height: 1.8em;
}

.post ul.month_archive li .the_day, 
.navigation ul.month_archive li .the_day {
    width: 28px;
    font-weight: 400;
    display: block;
    float: left;
}

.post ul.month_archive li .the_article,
.navigation ul.month_archive li .the_article {
    display: block;
    float: none;
}

.navigation a,
.navigation a:visited,
.navigation a:link,
.navigation a:active {
    text-decoration: none;
    border-bottom: 1px dotted #888;
}

.navigation a:hover {
    color: #666;
}

.navigation a.archive_link,
.navigation a.archive_link:hover,
.navigation a.archive_link:visited,
.navigation a.archive_link:link,
.navigation a.archive_link:active {
    text-decoration: none;
}

.navComments {
    padding: 15px 0;
    margin: 0 0 15px 0;
}

.pagination {
    margin-left: -160px;
}

.pagination span {
    display: block;
    width: 140px;
    float: left;
    margin-right: 20px;
    text-align: right;
}

.iLikeThis {
    float: right;
    background: #fff;
    font-size: 1.3em;
    padding: 5px;
    margin-top: 5px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

.comment,
.trackback,
.pingback {
    border-bottom: 1px solid #CCC;
}

.comment p a,
.trackback p a,
.pingback p a {
    text-decoration: none;
    border-bottom: 1px dotted #888;
}

.comment p {
    margin-bottom: 12px;
}

.commentEntry {
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment-author-lucasr {
    background-color: #EEEEEE;
    padding-left: 20px;
    padding-right: 20px;
}

.commentAuthor {
    float: right;
    text-align: right;
    font-style: italic;
}

.commentAuthor a {
    color: black;
    border-bottom: 1px dotted #888;
}

.commentAuthor a:hover {
    color: #888;
}

#respond a {
    border-bottom: 1px dotted #888;
}

.bubble {
    line-height: 1.3em;
    color: #000;
    padding: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.bubble a,
.bubble a:hover,
.bubble a:visited,
.bubble a:link,
.bubble a:active {
    color: #000;
    text-decoration: none;
}

.bubble a:hover {
    color: #666;
}

.bubblePointer {
    padding-bottom: 0px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 0px;
    text-align: right;
}

.bubblePointer a {
    color: #AAA;
}

.bubblePointer a:hover {
    color: #111;
}

p.intro {
    padding-top: 30px;
}

#commentform textarea {
    width: 450px;
}
#commentform span {
    display: block;
    padding: 1px 2px;
    background: #fff;
}
#commentform label {
    margin-left: 10px;
}

input, textarea, select {
    font-size: 15px;
    color: #000;
    border: 1px solid #ccc;
    background: #fff;
    padding: 4px;
}

input:hover, textarea:hover {
    border-color: #999;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #999;
    color: #000;
    outline: none;
}

input.submit {
    font-size: 16px;
    width: auto;
    font-weight: 400;
    background: #3D3070;
    color: #fff;
    border: 1px solid #3D3070;
    padding: 4px 7px;
    text-shadow: none;
    cursor: pointer;
}

input.submit:hover, input.submit:focus {
    border: 1px solid #5744A0;
    background-color: #5744A0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input.submit:active {
}

#searchform {
    margin-top: 25px;
}

#searchform #s {
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    background: #fff;
    padding: 4px;
    float: left;
    width: 140px;
    height: 31px;
}

#searchform #s:hover {
    border-color: #000;
    outline: none;
}

#searchform #s:focus {
    border-color: #000;
    color: #000;
    outline: none;
}

#searchSubmit {
    font-size: 16px;
    width: auto;
    font-weight: 400;
    background: #3D3070;
    color: #fff;
    border: 1px solid #3D3070;
    padding: 4px 7px;
    text-shadow: none;
    cursor: pointer;
    margin: 0px 5px;
}

#searchSubmit:hover, #searchSubmit:focus {
    border: 1px solid #5744A0;
    background-color: #5744A0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#searchSubmit:active {
}

code {
    font-size: 14px;
    display: block;
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 6px 12px;
}
