body {
  font-family: "ff-tisa-web-pro",serif;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  border-top: 4px solid #ff9500;
}

h1 {
  font-size: 2.1em;
  margin-top: 30px;
  text-align: center;
  color: #0088cc;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 4px 0px;
  margin-top: 1em;
  padding: 0px;
}

h3 {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 4px 0px;
  margin-top: 0.8em;
  padding: 0px;
}

p {
  line-height: 1.5em;
  margin-bottom: 0.8em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.home {
  font-family: "futura-pt",sans-serif;
  font-size: 0.85em;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #444444;
  margin-top: 20px;
  text-align: center;
}

.home > a,
.home > a:hover,
.home > a:active,
.home > a:visited {
  font-size: 1.03em;
  border-right: 1px solid #cccccc;
  padding-right: 5px;
  margin-right: 5px;
  color: #444444;
}

.home > a:hover {
  text-decoration: none;
  color: #666666;
}

.date {
  font-family: "futura-pt",sans-serif;
  font-size: 0.80em;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  color: #999999;
}

.feature {
  margin-top: 1.4em;
}

.content {
  margin-top: 1.4em;
  padding-left: 100px;
  padding-right: 100px;
}

.discuss {
  display: block;
  margin-top: 30px;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
  font-size: 0.85em;
  font-style: italic;
}

.discuss > p {
  text-align: center;
}

.about {
  font-size: 0.90em;
  display: block;
  font-style: italic;
  margin-top: 10px;
  border-top: 1px solid #dddddd;
  padding-top: 30px;
  padding-bottom: 30px;
}

.author {
  font-weight: bold;
  font-style: normal;
  margin-right: 1px;
  color: #333333;
}

.about > .avatar {
  display: block;
  max-width: 100px;
  height: auto;
  float: left;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-right: 20px;
}

.about > p {
  line-height: 1.3em;
  margin-top: 8px;
  margin-bottom: 0px;
}

.archives {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  border-top: 1px solid #dddddd;
}

.archives a,
.archives a:hover,
.archives a:visited,
.archives a:active {
  color: #555555;
  border-bottom: 1px dotted #bbbbbb;
}

.archives a:hover {
  color: #0088cc;
  text-decoration: none;
}

.archives h3 {
  margin-top: 4px;
}

.archives td {
  padding-left: 0px;
  padding-top: 3px;
  font-size: 0.90em;
  border-top: 0px;
}

.archives .span6 {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6em;
    line-height: 1em;
  }

  .about {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about > .avatar {
    float: none;
    margin: 0px auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .archives {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .content {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .archives {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 960px) {
  body {
    border-top: 0px;
  }

  .container {
    border-top: 4px solid #ff9500;
  }
}

@media (min-width: 980px) {
  .container {
    width: 960px;
  }
}